<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.p1ngu1n.playstorechangelog">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="2.0*" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description" />

        <activity
            android:name=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

        <!-- Thanks to GermainZ for this alias-trick! -->
        <activity-alias
            android:enabled="true"
            android:name="com.p1ngu1n.playstorechangelog.SettingsActivity-Alias"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher"
            android:targetActivity=".SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

    </application>
</manifest>
